.barItem:hover {
    -fx-background-color: #9B804E;
    -fx-background-radius: 0;
    -fx-border-color: #897045;
}

.side:hover {
  -fx-background-color: #DBDBB3;
  -fx-border-color: #DBDBB3;
}

.exit:hover {
  -fx-border-color: #FE8EAC;
}

.textarea {
    -fx-background-color: rgba(53,89,119,0.4);
}

.textarea .scroll-pane {
    -fx-background-color: transparent;
}

.textarea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.textarea .scroll-pane .content{
    -fx-background-color: transparent;
}
